.container {
    max-width: 1180px;
    margin: 0 auto;
}
.body__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hide {
    opacity: 0;
    visibility: hidden;
}
.show {
    opacity: 1;
    visibility: visible;
}
.open {
    right: 0 !important;
    .hamburger {
        span {
            &:first-child {
                top: 50%;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                top: 50%;
                transform: rotate(-45deg);
            }
        }
    }
}