.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 30;
    &__dialog {
        max-width: 500px;
        margin: 150px auto;
    }
    &__content {
        max-width: 100%;
        min-height: 300px;
        background-color: $whiteColor2;
        padding: 10px 20px;
        &-header {
            @include wrapper1;
        }
        &-title {
            font-family: 'Source Sans 3', sans-serif;
            font-weight: 700;
            font-size: 30px;
            line-height: 120%;
            color: $darkColor;
        }
        &-close {
            position: relative;
            width: 50px;
            height: 50px;
            cursor: pointer;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                width: 30px;
                height: 2px;
                background-color: $darkColor;
            }
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                width: 30px;
                height: 2px;
                background-color: $darkColor;
            }
        }
        &__form {
            width: 100%;
        }
        &-label {
            display: block;
            width: 100%;
            height: 45px;
            margin-bottom: 25px;
        }
        &-input {
            width: 100%;
            height: 45px;
            padding: 10px 15px;
        }
        &-error {
            margin-bottom: 20px;
            color: #e83838;
            display: none;
        }
        &-custom {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid $purpleColor;
            border-radius: 3px;
            transition: all .4s ease;
            &::after {
                content: "";
                position: absolute;
                display: none;
                left: 6px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid $purpleColor;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);               
            }
        }
        &-checkbox {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
            cursor: pointer;
            &:checked + .modal__content-custom::after {
                display: block;
            }
        }
        &-text {
            display: inline;
        }
        &-warning {
            @include wrapperStart;
            align-items: start;
            gap: 5px;
            margin-bottom: 30px;
        }
        &-btn {
            width: 100%;
            height: 45px;
            background-color: $purpleColor;
            color: $whiteColor;
            @include wrapperCenter;
            font-family: 'Source Sans 3', sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            transition: all .4s ease;
            &:hover {
                box-shadow: 0 0 15px $purpleColor;
            }
        }
    }
}